
Solucao_YARA/.vs/Solucao_YARA/v15/.suo
Solucao_YARA/.vs/Solucao_YARA/v15/.suo
Solucao_YARA/.vs/Solucao_YARA/v15/Server/sqlite3/db.lock
Solucao_YARA/.vs/Solucao_YARA/v15/Server/sqlite3/storage.ide-shm
Solucao_YARA/Solucao_YARA/bin/Release/Solucao_YARA.exe
Solucao_YARA/Solucao_YARA/bin/Release/Solucao_YARA.pdb
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csproj.CoreCompileInputs.cache
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csproj.GenerateResource.Cache
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csprojAssemblyReference.cache
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.pdb
Solucao_YARA/.vs/Solucao_YARA/v15/Server/sqlite3/storage.ide
Solucao_YARA/Solucao_YARA/bin/Release/Solucao_YARA.exe
Solucao_YARA/Solucao_YARA/bin/Release/Solucao_YARA.pdb
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csproj.FileListAbsolute.txt
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csproj.GenerateResource.Cache
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.exe
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.pdb
Solucao_YARA/.vs/Solucao_YARA/v15/.suo
Solucao_YARA/.vs/Solucao_YARA/v15/Server/sqlite3/storage.ide-wal
Solucao_YARA/Solucao_YARA/bin/Release/Solucao_YARA.exe
Solucao_YARA/.vs/Solucao_YARA/v15/.suo
*.exe
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.csproj.FileListAbsolute.txt
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.pdb
Solucao_YARA/Solucao_YARA/obj/Release/Solucao_YARA.pdb
Solucao_YARA/Solucao_YARA/bin/Release/Config.txt
